<div class="app-wrapper">

    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle sidenav">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">{{ pageHeader.title }}</span>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">

        <!-- サイドナビゲーション -->
        <mat-sidenav #sidenav class="sidenav" [mode]="'side'" (closed)="onSidenavClosed()">

            <!-- 上部のナビゲーションリスト -->
            <mat-nav-list>
                <a mat-list-item *ngFor="let item of mainNavItems" [routerLink]="item.link"
                    routerLinkActive="active-list-item" [matTooltip]="item.name" matTooltipPosition="right">
                    <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
                </a>
            </mat-nav-list>

            <!-- 最下部に固定する設定アイコン -->
            <mat-nav-list class="sidenav-footer">
                <a mat-list-item [routerLink]="settingsNavItem.link" routerLinkActive="active-list-item"
                    [matTooltip]="settingsNavItem.name" matTooltipPosition="right">
                    <mat-icon mat-list-icon>{{ settingsNavItem.icon }}</mat-icon>
                </a>
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <main #scrollableContent class="content">
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>