<div class="home-container">
    <div class="header">
        <h1 class="title">BizRobo! 環境セットアップ キット</h1>
        <p class="subtitle">運用環境のセットアップをスムーズに進めるための各種便利ツールの詰め合わせ</p>
    </div>

    <div class="card-container">
        <mat-card *ngFor="let card of featureCards" class="feature-card" (click)="navigateTo(card.route)">
            <mat-card-header>
                <div mat-card-avatar class="card-avatar" [style.background-color]="card.color">
                    <mat-icon fontSet="material-icons-two-tone">{{ card.icon }}</mat-icon>
                </div>
                <mat-card-title>{{ card.title }}</mat-card-title>
                <mat-card-subtitle>{{ card.description }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>